<footer>
  <mat-toolbar color="primary">
    <div class="footer-content">
      <div>Copyright &copy; Akash Kriplani {{ currentYear }}. All Rights Reserved.
      </div>
      <ul>
        <li>
          <a [href]="links?.facebook" target="_blank" title="Facebook profile">
            <img src="../../../assets/images/facebook.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a [href]="links?.twitter" target="_blank" title="Twitter profile">
            <img src="../../../assets/images/twitter.png" alt="Twitter" />
          </a>
        </li>
        <li>
          <a [href]="links?.instagram" target="_blank" title="Instagram profile">
            <img src="../../../assets/images/instagram.gif" alt="Instagram" />
          </a>
        </li>
        <li>
          <a [href]="links?.linkedin" target="_blank" title="LinkedIn profile">
            <img src="../../../assets/images/linkedin.png" alt="LinkedIn" />
          </a>
        </li>
        <li>
          <a [href]="links?.github" target="_blank" title="GitHub profile">
            <img src="../../../assets/images/github.svg" alt="GitHub" />
          </a>
        </li>
        <li>
          <a [href]="links?.medium" target="_blank" title="Medium profile">
            <img src="../../../assets/images/medium.svg" alt="Medium" />
          </a>
        </li>
        <li>
          <a [href]="links?.stackOverflow" target="_blank" title="Stack overflow profile">
            <img src="../../../assets/images/stackoverflow.png" alt="Stack overflow" />
          </a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</footer>
