<div class="login-container">
  <div class="login-grid-tile">
  </div>
  <mat-card class="login-card">
    <ng-container *ngIf="showOTPTemplate; else loginTemplate">
      <mat-card-header>
        <div mat-card-avatar class="login-header-image"></div>
        <mat-card-title>OTP Verification</mat-card-title>
        <mat-card-subtitle>An OTP has been sent to {{mobileNumberControl?.value | maskPhone | formatPhone }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ifc-otp [buttonLabel]="'Verify & Proceed'" (submit)="verifyOTP($event)"></ifc-otp>
        <ng-container *ngIf="showCounter" [counter]="15" [interval]="1000" (value)="count = $event">
          <div
            class="counter"
            [ngClass]="{ 'alert' : count < 10 }"
            *ngIf="count > 0"
          >
            {{ count + ' seconds remaining' }}
          </div>
        </ng-container>
        <div class="otp-message">There might be some delay in receiving the OTP due to heavy traffic</div>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-container">
          <button mat-raised-button mat-accent *ngIf="count === 0" color="accent" (click)="generateOTP()">
            Resend OTP
          </button>
        </div>
      </mat-card-actions>
    </ng-container>
    <ng-template #loginTemplate>
      <mat-card-header>
        <div mat-card-avatar class="login-header-image"></div>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Register or Login for Vaccination</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>An OTP will be sent to your mobile number for verification</p>
        <form class="login-form">
          <mat-form-field class="login-full-width">
            <mat-label>Mobile number</mat-label>
            <input type="text" autocomplete="off" matInput [formControl]="mobileNumberControl"
              placeholder="Enter your mobile number (Ex. 9876543210)" (keydown)="validateNumber($event)" maxlength="10" (keyup.enter)="generateOTP()">
            <mat-error *ngIf="mobileNumberControl.hasError('required')">
              Mobile number is required
            </mat-error>
            <mat-error *ngIf="mobileNumberControl.hasError('pattern') && !mobileNumberControl.hasError('required') || mobileNumberControl.hasError('maxlength')">
              Mobile number should be of 10 digits
            </mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-container">
          <button mat-raised-button mat-accent color="accent" [disabled]="!mobileNumberControl.valid" (click)="generateOTP()">
            Get OTP
          </button>
        </div>
      </mat-card-actions>
    </ng-template>
  </mat-card>
</div>
