.text-center {
  text-align: center;
}

.pincode-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  & mat-form-field {
    max-width: 300px;
  }
}

.state-container {
  padding: 20px 0;
}

.table-container {
  padding-top: 20px;
}
