table {
  padding-top: 10px;
  width: 100%;
}

.mat-column-center {
  max-width: 200px;
  word-wrap: break-word;
  word-break: break-word;
}

th.mat-column-date1,
td.mat-column-date1 {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.text-center {
  text-align: center;
}
