table {
  border: 1px solid #e0e0e0;
  width: 100%;
}

table th {
  background-color: #e0e0e0;
  color: #000;
  font-size: 15px;
}

table td {
  padding-top: 10px;
}

table th,
table td {
  border-right: 1px solid #e0e0e0;
  padding: 5px 10px;
}

table th:not(:first-child),
table td:not(:first-child) {
  text-align: center;
}

.mat-column-center {
  max-width: 200px;
  word-wrap: break-word;
  word-break: break-word;
}

th.mat-column-date1,
td.mat-column-date1 {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.text-center {
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

::ng-deep .mat-cell .slot-container {
  padding: 4px;
}

::ng-deep .mat-cell .slot-container .slot-full {
  background-color: #f44336;
  border: 1px solid #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

::ng-deep .mat-cell .slot-container .slot-available {
  background-color: #a9d18e;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  .dose-1 {
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
    padding: 0 4px;
  }
  .total-doses {
    flex: 1 0 0%;
  }
  .dose-2 {
    border-left: 1px solid;
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
    padding: 0 4px;
  }
}

::ng-deep small {
  color: #ff4081;
}
