<ng-container *ngIf="response?.centers?.length > 0; else noCenterAvailableTemplate">
  <div class="filter-container">
    <mat-button-toggle-group
      name="filterOptions"
      multiple
      aria-label="filter options"
      (change)="applyFilter($event)"
    >
      <mat-button-toggle
        *ngFor="let f of filterOptions"
        [value]=f?.VALUE>
        {{ f?.DISPLAYNAME }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <ng-container *ngIf="!noResultsFound; else noSlotsAvailableTemplate">
      <table mat-table [dataSource]="matTableDataSource" matSort matSortActive="center" matSortDirection="asc"
        matSortDisableClear (matSortChange)="sortTableData()" class="mat-elevation-z8">
        <ng-container *ngFor="let col of appointmentTableColumns" [matColumnDef]="col?.columnDef" [sticky]="col?.sticky">
          <div>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col?.header}}</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="col?.cell(element) | safe: 'html'"></td>
          </div>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator color="accent" [length]="matTableDataSource?.data?.length" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
      </mat-paginator>
  </ng-container>
  <ng-template #noSlotsAvailableTemplate>
    <h2 class="text-center">No vaccination center is available for booking.</h2>
  </ng-template>
</ng-container>
<ng-template #noCenterAvailableTemplate>
  <h2 class="text-center">No vaccination center is available for booking.</h2>
</ng-template>
